body { 
    padding-top: 50px;
    color: #34495e;
}

/*  --   */
.logo {
    height:50px;
}

.navbar-brand {
    padding: 0px 15px;
}

.navbar-default .navbar-brand {
    color: #34495e;
}

.btn-primary {
    background-color: #3498DB;
}
.btn-primary:hover {
    background-color: #2980B9;
}

.jumbotron {
    margin-bottom: 0px;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    color: #16a085;
}

a:hover {
    color: #1abc9c;
}

/*  --   */

p {
    font-size: 1.5em;
}

.profile-img {
    width:150px;
    height:150px;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s; 
    transition-duration: 0.5s; 
    -o-transition-duration: 0.5s; 
}

.profile-img:hover {
    opacity: 0.4;
}

.profile {
    background: url('../img/logo.png') no-repeat center;
}

.center {
    text-align: center;
}

.intro {
    background-color: #1ABC9C;
    color: white;
}

.company-logo {
}

a.thumbnail:hover {
    border-color: #1abc9c;
}

.home-icon { 
    float:left; 
    font-size: 120px; 
    margin-right: 10px;
    color:#34495e;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s; 
    transition-duration: 0.5s; 
    -o-transition-duration: 0.5s; 
}
.home-icon p {
    display: none;
}
.home-icon:hover { opacity: 0.6; }
.home-icon:hover p { opacity: 0.6; }


.email {
    margin-top: 15px;
    background-color: #E74C3C;
}

.email h2 {
    color: white;
}

.email-form {
    background-color: #edeff1;
    padding: 24px 23px 20px;
    position: relative;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.email-form:before {
    content: '';
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent #edeff1 transparent transparent;
    height: 0;
    position: absolute;
    left: -12px;
    top: 35px;
    width: 0;
    -webkit-transform: rotate(360deg);
}

footer{
    border-top: 1px solid #ddd;
    background-color: #edeff1;
    margin-top: 35px;
    height: 400px;
    color: #97A0A8;
}

footer .container {
    margin-top: 15px;
}